//- doctype html
//- html(lang='en')
//-     include ../../_templates/head.pug
//-         title= 'Eesti Segakooride Liit - Tuljaku võistulaulmine'
//-     body
//-         include ../../_templates/navigation.pug

//-         h4 #[strong= self.pealkiri]

//-         p #[u= self.aeg_ja_asukoht]

//-         p !{ self.md(self.sisu) }

//-         include ../../_templates/footer.pug


extends ../../_templates/layout.pug

block peasisu
    
    a(href= "/tuljak/2019") #[strong= "XXII (2019)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/2017") #[strong= "XXI (2017)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/2015") #[strong= "XX (2015)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/2013") #[strong= "XIX (2013)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/2011") #[strong= "XVIII (2011)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/2009") #[strong= "XVII (2009)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/2008") #[strong= "XVI (2008)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/2007") #[strong= "XV (2007)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/2006") #[strong= "XIV (2006)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/2005") #[strong= "XIII (2005)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/2004") #[strong= "XII (2004)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/2003") #[strong= "XI (2003)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/2002") #[strong= "X (2002)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/2001") #[strong= "IX (2001)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/2000") #[strong= "VIII (2000)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/1999") #[strong= "VII (1999)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/1998") #[strong= "VI (1998)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/1997") #[strong= "V (1997)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/1996") #[strong= "IV (1996)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/1995") #[strong= "III (1995)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/1994") #[strong= "II (1994)"] &nbsp;&nbsp;&nbsp;
    a(href= "/tuljak/1993") #[strong= "I (1993)"] &nbsp;&nbsp;&nbsp;

    h2 #[strong= self.pealkiri]

    p #[u= self.aeg_ja_asukoht]

        p !{ self.md(self.sisu) }