Sinine = #3E4C97
Kuldne = #BEB180
// SININE 70%
// KULDNE 70%
Tumesinine = #0B1B38
TAUST = #F8F7F2
PRUUN = #3E2D1D


@import url('https://fonts.googleapis.com/css?family=Unna:wght@700&display=swap');
h1, h2, h3, h4, h5, h6
    font-family 'Playfair Display', serif

p, a
    font-family 'Source Sans Pro', sans-serif

html
    scroll-behavior smooth

a
    background-color Kuldne
    opacity .7
    text-decoration none
    color white
    border-radius .05rem
    border Kuldne solid 1pt
    text-align center
    display inline-block
    transition all 0.3s
    &:hover
        opacity 1
        color Tumeinine

.hero
    background url('assets/img/ESL_hero.jpg') center
    background-size cover
    padding 2rem 2rem
    display grid
    grid-template-columns 1fr
    grid-template-rows auto auto auto
    border 1px solid black
    align-items center
    text-align center
    & > *
        color Kuldne
    & > h1
        font-size 4rem
        padding-bottom 1rem
        color white
        margin: 0
    & > article
        & > p
            color Kuldne
            font-size 1.5rem
            font-weight 200
        & > a
            padding 1rem
            margin-top .75rem

    & > .top
        display: grid
        align-items left 
        grid-template-columns: 1fr 1fr

.kuldne-fill
    fill Kuldne
    fill-opacity: 1
    stroke none
.kuldne-joon
    fill none
    stroke-width 2.584
    stroke-linecap butt
    stroke-linejoin miter
    stroke Kuldne
    stroke-opacity 1
    stroke-miterlimit 10

.kalender
    padding 2rem
    & > ul
        display grid
        grid-template-columns repeat(auto-fit, minmax(320px, 1fr))
        grid-gap 1rem
        & > li
            border 1px solid #E2E2E2
            border-radius .5rem
            & > figure
                max-height 220px
                overflow hidden
                border-top-left-radius .5rem
                border-top-right-radius .5rem
                position relative
                & > img
                    width 100%
                & > figcaption
                    position absolute
                    bottom 0
                    background-color rgba(0,0,0,.7)
                    width 100%
                    & > h3
                        color white
                        padding .75rem
                        font-size 1.25rem
            & > p
                font-size 1rem
                line-height 1.5
                padding 1rem .75rem
                color #666666
            & > a
                padding .5rem 1rem
                margin .5rem

footer
    background-color #333
    padding .75rem
    color white
    text-align center
    font-size .75rem