html(lang='en')
    include ../_templates/head.pug
        title= 'Eesti Segakooride Liit - Tutvustus'
    body
        include ../_templates/navigation.pug

        h4 #[strong= self.title]
        p !{ self.md(self.tutvustus) }

        include ../_templates/footer.pug