extends ../_templates/layout.pug

block peasisu

    section.juhatus
        ul
            each liige, id in self.juhatus
                li
                    table.juhatus-liige-tabel
                        tr.juhatus-liige
                            td.juhatus-liige-nimi
                                span #[strong= liige.nimi]
                        if liige.pilt
                            tr
                                td.juhatus-pilt
                                    img(src= liige.pilt.url)
                        if liige.amet
                            tr
                                td
                                    span= liige.amet
                        if liige.telefon
                            tr
                                td
                                    span= liige.telefon
                        tr
                            td
                                if liige.email
                                    each e, id in liige.email
                                        a(href= 'mailto:' + e)= e
                                        br
                    br