head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href="/assets/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(href="/assets/favicon.ico", rel="icon", type="image/x-icon")

    link(href='/style.css', rel='stylesheet')
