block menyy
    section.menyy-taust
        section.menyy
            ul
                li
                    a(href='/')
                        span Esileht
                li
                    a(href='/tutvustus/')
                        span Tutvustus
                li
                    a(href='/pohikiri/')
                        span Põhikiri
                li
                    a(href='/juhatus/')
                        span Juhatus
                li
                    a(href='/dokumendid/')
                        span Dokumendid
                li
                    a(href='/liikmed/')
                        span Liikmed
                li
                    a(href='/ajalugu/')
                        span Ajalugu
                li
                    a(href='/tuljak/')
                        span Tuljaku võistulaulmine
                li
                    a(href='/fotod')
                        span Fotod
                li
                    a(href='/viited/')
                        span Viited
                li
                    a(href='/kontakt/')
                        span Kontakt