block menyy
    section.menyy-taust
        section.menyy
            ul
                each link in self.menyy.lingid
                    span('self.path'=self.path, 'self.valitud_keel'=self.valitud_keel, 'link.url'=link.url)
                    if self.path === '/' + self.valitud_keel + link.url
                        li
                            a(href=self.valitud_keel + link.url).menyy-link.aktiivne-link= link.tekst
                    else
                        li
                            a(href=self.valitud_keel + link.url).menyy-link= link.tekst