extends ../_templates/layout.pug

mixin liikmeskoor(liige)
    tr
        td.liige-nimi
            span #[strong= liige.nimi]
        td
            if liige.email
                each e, id in liige.email
                    a(href= 'mailto:' + e)= e
                    br
            else
                span &nbsp;
        td
            span= liige.esindajad

mixin liikmeskoorKompaktne(liige)
    table
        tr
            td.liige-nimi
                span #[strong= liige.nimi]
        tr
            td
                if liige.email
                    each e, id in liige.email
                        a(href= 'mailto:' + e)= e
                        br
                else
                    span &nbsp;
        tr
            td
                span= liige.esindajad
        tr
            td
                span &nbsp;

block peasisu

    table(width="100%").liikmed-tavaline
        each liige, id in self.liikmed
            +liikmeskoor(liige)

    div(width="100%").liikmed-kompaktne
        each liige, id in self.liikmed
            +liikmeskoorKompaktne(liige)