extends ../_templates/layout.pug

block peasisu

    a(href='/assets/doc/ESL_pohikiri_2025-09-28.pdf', target='_blank') #[strong= self.fail]
    <br>
    a(href='/assets/doc/ESL_pohikiri_2021-04-11.pdf', target='_blank') #[strong= self.fail_eelmine]
    <br>
    a(href='/assets/doc/ESL_pohikiri_2003-06-07.pdf', target='_blank') #[strong= self.fail_eelmine_eelmine]
    
    p
        each peatykk, id in self.pohikiri
            p #[strong= peatykk.pealkiri]
            span !{ self.md(peatykk.sisu) }