extends ../_templates/layout.pug

block peasisu

    a(href='/assets/doc/ESL_pohikiri.doc') #[strong= self.fail]&nbsp;/&nbsp;
    a(href='/assets/doc/ESL_pohikiri_07.06.2003.doc') #[strong= self.fail_eelmine]
    
    p
        each peatykk, id in self.pohikiri
            p #[strong= peatykk.pealkiri]
            span !{ self.md(peatykk.sisu) }