extends ../_templates/layout.pug

block peasisu

    a(href='/assets/doc/ESL_pohikiri.doc') #[strong= self.fail]
    
    p
        each peatykk, id in self.pohikiri
            p #[strong= peatykk.pealkiri]
            span !{ self.md(peatykk.sisu) }