extends ../_templates/layout.pug

block peasisu

    p
        each info, id in self.fotod
            h3 #[strong= [info.aasta]]
            each album, id2 in info.yritused
                p
                    if album.path
                        a(href=album.path) #[strong= album.pealkiri]
                    //- else
                    //-     a(href=album.url, target='_blank') #[strong= album.pealkiri]