html(lang='en')
    include ../head.pug
        title= 'Eesti Segakooride Liit - Fotod'
    body
        include ../navigation.pug

        h4 #[strong= self.title]
        p
            each aasta, id in self.fotod
                each album, id2 in aasta
                    p
                        a(href=album.url) #[strong= album.pealkiri]

        include ../footer.pug