extends ../_templates/layout.pug

block peasisu

    p
        span !{ self.md(self.ajalugu.tekst) }
    br
    each link, id in self.ajalugu.lingid
        p
            a(href=link.url) #[strong= link.pealkiri]