extends ../_templates/layout.pug

block peasisu

    table(width="100%")
        each dokument, id in self.dokumendid
            tr
                td
                    a(href=dokument.url) #[strong= dokument.nimi]
            tr
                td
                    span &nbsp;
