head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href="/assets/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(href="/assets/favicon.ico", rel="icon", type="image/x-icon")

    link(href='https://cdn.jsdelivr.net/gh/twbs/bootstrap@3/dist/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='https://cdn.jsdelivr.net/gh/afeld/bootstrap-toc@v0/dist/bootstrap-toc.min.css', rel='stylesheet', type='text/css')
    link(href='/style.css', rel='stylesheet')
