extends _templates/layout.pug

block peasisu
    script.
            // On Load of the window
            window.onload = function () {

              var data = JSON.parse('!{ JSON.stringify(self.data) }');

              // Start calendar
              var c = new Calendar2();
              c.data = data;
              c.lang = JSON.parse('!{ JSON.stringify(self.valitud_keel) }');
              c.init();

            }

    ul#kalender.kalender-p2is.t2islai-tabel.keskel
        li.kolmandik-veerg
            h3
                a(href="#")
                    span.prev-month
        li.kolmandik-veerg
            h3.pruun-tekst
                span.current-month-year
        li.kolmandik-veerg
            h3
                a(href="#")
                    span.next-month
    div.kalender-sisu-wrapper
        ul.kalender-sisu.keskel

    section.kalender

                ul
                    
                    li.uudis-vasak
                        h3(style="padding-left:1rem;padding-right:1rem")
                            strong Ootame kõikide segakooride tulevasi kontserte ESLi kalendrisse!
                            br
                            strong Nii saame hea ülevaate, kus ja millal segakoorid laulavad.
                            br
                            strong Üle terve Eesti!
                            br
                            br
                            strong Kontserte saab lisada
                                a(href='https://forms.gle/Zpa5QZ6RToVPArkr9', target="_blank", style="font-size:24px") &nbsp;SIIN.
                ul
                    li.uudis-pilt
                        a(href="/syndmused/2021/koorivisioon")
                            img(src="/assets/event_imgs/2021/koorivisioon_banner_big.jpg", width="100%")
                        br
                        a(href="/assets/doc/2021/Reglement-KOORIVISIOON-2021.pdf", target="_blank")
                            span(style="color:#cc0000;font-size:24px") REGLEMENT
                        a(href="https://forms.gle/aNBLSsVdMh1nnboi7", target="_blank")
                            span(style="color:#cc0000;font-size:24px") REGISTREERIMINE (tähtaeg 5. september!)
                    li.uudis-pilt
                        a(href="/syndmused/2022/tuljak2022")
                            img(src="/assets/event_imgs/2022/tuljak_banner_big.jpg", width="100%")                    
                ul
                    li
                        table.uudis-tabel
                            tr
                                td.uudis-ikoon
                                    img(src="/assets/img/kalender_ikoon.png", height="50px")
                                td.uudis-sisu
                                    h2 Segakooride Liidu hooaja sündmused
                                    | Hoidke end ESL-i sündmustega kursis ja liituge meie #[strong="uudiskirjaga"]:
                                    p
                                        section.listi-vorm
                                            br
                                            | Meiliaadress
                                            br
                                            input(type="email").listi-email
                                            br
                                            input(type="button", value="Liitu").listi-nupp
                                    br
                                    br
                                    br
                                    br
                                    br
                                    div.list-success
                                        span Õnnestus!
                                    div.list-error
                                        span Ei õnnestunud
                                    br
                                    p.oma-syndmus
                                        | Lisage oma sündmus meie kalendrisse&nbsp;
                                        a(href='https://forms.gle/Zpa5QZ6RToVPArkr9', target="_blank") SIIN
                    li.uudis-pilt
                        a(href="/syndmused/2022/laulupaev")
                            img(src="/assets/event_imgs/2022/laulupaev_banner_big.jpg", width="100%")
                ul
                    li
                        table
                            tr
                                td.uudis-ikoon
                                    img(src="/assets/img/toeta_ikoon.png", height="50px")
                                td.uudis-sisu
                                    h2 Toeta Miina Härma fondi!
                                    p
                                        | Eesti Rahvuskultuuri Fondi arveldusarve span #[strong= "EE672200221001101347"], märgusõna „Miina Härma fond“.
                                        br
                                        br
                                        | 20. oktoobril 2014 asutati Eesti Segakooride Liidu eestvedamisel Eesti Rahvuskultuuri fondi Miina Härma nimeline allfond. Fondi eesmärk on tunnustada isikuid ja kollektiive, kelle tegevus või looming on pälvinud laiemat üldsuse tähelepanu ning on suunatud eesti segakooriliikumise hüvanguks, edendamiseks ja arenguks. Asutamislepingule kirjutasid alla Rahvuskultuuri Fondi esimees Eri Klas ja ESLi juhatuse esimees Veronika Portsmuth.

                    li
                        table
                            tr
                                td.uudis-ikoon
                                    img(src="/assets/img/liitu_ikoon.png", height="50px")
                                td.uudis-sisu
                                    h2 Astu Eesti Segakooride Liidu liikmeks!
                                    p
                                        | 1. ESL-i liikmena aitad kaasa Eesti koorikultuuri säilitamisele ja edendamisele.
                                        br
                                        | 2. ESLi liikmena saate jooksvalt infot koorimuusikamaastikul toimuvast; leiate toreda sõpruskoori või konkursi-festivali; olete nende seas, keda kutsutakse esindama oma maakonda.
                                        br
                                        | 3. ESL-i liikmed saavad soodsamalt osaleda kõikidel liidu korraldatavatel üritustel.
                                        br
                                        br
                                        span #[strong= "NB! ESL-i liikmeks astumise avalduse ja liikmemaksu lehe leiate dokumentide lehelt!"]