extends _templates/layout.pug

block peasisu
    script.
            // On Load of the window
            window.onload = function () {

              var data = JSON.parse('!{ JSON.stringify(self.data) }');

              // Start calendar
              var c = new Calendar2();
              c.data = data;
              c.lang = JSON.parse('!{ JSON.stringify(self.valitud_keel) }');
              c.init();

            }

    ul#kalender.kalender-p2is.t2islai-tabel.keskel
        li.kolmandik-veerg
            h3
                a(href="#")
                    span.prev-month
        li.kolmandik-veerg
            h3.pruun-tekst
                span.current-month-year
        li.kolmandik-veerg
            h3
                a(href="#")
                    span.next-month
    div.kalender-sisu-wrapper
        ul.kalender-sisu.keskel

    section.kalender
                //- ul
                //-     li.uudis-vasak
                //-         h3(style="padding-left:1rem;padding-right:1rem")
                //-             Eesti Segakooride Liidu Advendikontserdid
                //-         br
                //-         br
                //-         <b>30. november kell 18 Kambja kirikus</b>
                //-         br
                //-         <b>7. detsember kell 18 Viljandi Pauluse kirikus</b>
                //-         br
                //-         br
                //-         <span>Infolehe ja täpsema info leiate</b> <a href="https://segakoorideliit.ee/syndmused/2024/advent-Kambja"><b>SIIT</b></a>!</span>

                    //- li.uudis-vasak(style="vertical-align:middle")
                    //-     a(href="/syndmused/2024/missa")
                    //-         img(src="/assets/event_imgs/2024/missa.jpg", width="100%")
                //- ul
                //-     li.uudis-vasak
                //-         a(href="/syndmused/2024/laulupaev")
                //-             img(src="/assets/event_imgs/2024/laulupaev.png", width="100%%")
                //-     li.uudis-vasak
                //-         a(href="/syndmused/2024/suvekool-kontsert")
                //-             img(src="/assets/event_imgs/2024/kontsert.png", width="100%%")
                //- ul
                //-     li.uudis-vasak
                //-         h3 XXIV segakooride võistulaulmine "Tuljak" 10. veebruaril 2024 Tartu Miina Härma Gümnaasiumis - Tulemused

                //-         span 10. veebruaril lõppenud XXIV segakooride võistulaulmine "Tuljak" haaras võistlustulle 12 koori, kes panid end proovile viies kategoorias. Võistlejaid hindas žürii koosseisus Vaike Uibopuu, Ardo Ran Varres ja Triin Ella.

                //- ul
                //-     li.uudis-vasak
                //-         b Avatud kategooria
                //-         br
                //-         br
                //-         span Eripreemia osalemise eest - TÜ Viljandi Kultuuriakadeemia segakoor, dirigent Pille Kährik
                //-     li.uudis-vasak
                //-         b Koolikooride D-kategooria
                //-         br
                //-         br
                //-         span Eripreemia osalemise eest - Tallinna Vaba Waldorfkooli segakoor, dirigent Ka Bo Chan

                //-     li.uudis-vasak    
                //-         b C-kategooria
                //-         br
                //-         br
                //-         span I koht - Segakoor Hannijöggi, dirigendid Mariell Aren ja Heili Kivi
                //-         br 
                //-         br
                //-         span II koht - Segakoor August07, dirigendid Urve Uusberg ja Ele Andok
                //-         br
                //-         br
                //-         span III koht - Segakoor Sakala, dirigendid Mihhail Gorjušin ja Kirill Gorjušin
                //-     li.uudis-vasak
                //-         b B-kategooria
                //-         br
                //-         br
                //-         span I - Saku Segakoor "Tuljak", dirigent Killu Rikker
                //-         br
                //-         br
                //-         span II koht - Segakoor Jõelähtme, dirigendid Mait Männik ja Merike Toro
                //-         br
                //-         br
                //-         span III koht - Rae Kammerkoor, dirigent Ingrid Orumaa
                //-     li.uudis-vasak
                //-         b A-kategooria
                //-         br
                //-         br
                //-         span I koht - Tartu Ülikooli Kammerkoor, dirigent Triin Koch
                //-         br
                //-         br
                //-         span II koht - I.N.T.A segakoor, dirigent Inta Roost
                //-     li.uudis-vasak
                //-         b Eripreemiad
                //-         br
                //-         br
                //-         span B-kategooria parim kohustusliku laulu esitaja - Segakoor Jõelähtme
                //-         br
                //-         br
                //-         span A-kategooria parim kohustusliku laulu esitaja - Tartu Ülikooli Kammerkoor
                //-         br
                //-         br
                //-         span Parim "Tuljak" - Segakoor Sakala
                //-         br
                //-         br
                //-         span Parim dirigent - Killu Rikker
                //-         br
                //-         br
                //-         span Solisti preemia - Liina Inno Saku segakoorist "Tuljak"
                //- ul
                //-     li.uudis-vasak
                //-         <a href="/assets/doc/2024/XXIV_Tuljak_tulemused.pdf"><span style="color:#cc0000;"><b>TULEMUSED (.pdf)</b></span></a> | <a href="/assets/doc/2024/XXIV_Tuljak_Punktitabel_ja_protokoll.pdf"><span style="color:#cc0000;"><b>PUNKTITABEL JA PROTOKOLL (.pdf)</b></span></a> | <a href="/fotod/2024/tuljak/"><span style="color:#cc0000;"><b>FOTOD</b></span></a>
                ul
                    li.uudis-vasak
                        h3(style="padding-left:1rem;padding-right:1rem")
                            strong Ootame kõikide segakooride tulevasi kontserte ESLi kalendrisse!
                            br
                            strong Nii saame hea ülevaate, kus ja millal segakoorid laulavad.
                            br
                            strong Üle terve Eesti!
                            br
                            br
                            strong Kontserte saab lisada
                                a(href='https://forms.gle/Zpa5QZ6RToVPArkr9', target="_blank", style="font-size:24px") &nbsp;SIIN
 
                    li.uudis-vasak
                        <h3>Eesti Segakooride Liidu advendikontserdid</h3>
                        
                        <br><b>29. november 2025 kell 18.00 – Kambja kirikus</b>
                        <br><b>6. detsember 2025 kell 18.00 – Rapla kirikus</b>
                        <br>
                        <br>Täpsema info leiate<a href="/syndmused/2025/advent-Kambja"><b>SIIT!</b></a>
                    li.uudis-vasak 
                        <h3>XXV Eesti segakooride võistulaulmise „Tuljak“</h3>
                        <br>
                        <br>Meil on rõõm teatada, et <b>XXV Eesti segakooride võistulaulmise „Tuljak“</b> juhend on valmis ning ootame rohket osavõttu!
                        <br>
                        <br>Juhendi leiate <a href="/tuljak/">SIIT</a>.

                    //- li
                    //-     table.uudis-tabel
                    //-         tr
                    //-             td.uudis-ikoon
                    //-                 img(src="/assets/img/kalender_ikoon.png", height="50px")
                    //-             td.uudis-sisu
                    //-                 h2 Segakooride Liidu hooaja sündmused
                    //-                 | Hoidke end ESL-i sündmustega kursis ja liituge meie #[strong="uudiskirjaga"]:
                    //-                 p
                    //-                     section.listi-vorm
                    //-                         br
                    //-                         | Meiliaadress
                    //-                         br
                    //-                         input(type="email").listi-email
                    //-                         br
                    //-                         input(type="button", value="Liitu").listi-nupp
                    //-                 br
                    //-                 br
                    //-                 br
                    //-                 br
                    //-                 br
                    //-                 div.list-success
                    //-                     span Õnnestus!
                    //-                 div.list-error
                    //-                     span Ei õnnestunud
                    //-                 br
                    //-                 p.oma-syndmus
                    //-                     | Lisage oma sündmus meie kalendrisse&nbsp;
                    //-                     a(href='https://forms.gle/Zpa5QZ6RToVPArkr9', target="_blank") SIIN       
                ul
                    li
                        table
                            tr
                                td.uudis-ikoon
                                    img(src="/assets/img/toeta_ikoon.png", height="50px")
                                td.uudis-sisu
                                    h2 Toeta Miina Härma fondi!
                                    p
                                        | Eesti Rahvuskultuuri Fondi arveldusarve span #[strong= "EE672200221001101347"], märgusõna „Miina Härma fond“.
                                        br
                                        br
                                        | 20. oktoobril 2014 asutati Eesti Segakooride Liidu eestvedamisel Eesti Rahvuskultuuri fondi Miina Härma nimeline allfond. Fondi eesmärk on tunnustada isikuid ja kollektiive, kelle tegevus või looming on pälvinud laiemat üldsuse tähelepanu ning on suunatud eesti segakooriliikumise hüvanguks, edendamiseks ja arenguks. Asutamislepingule kirjutasid alla Rahvuskultuuri Fondi esimees Eri Klas ja ESLi juhatuse esimees Veronika Portsmuth.

                    li
                        table
                            tr
                                td.uudis-ikoon
                                    img(src="/assets/img/liitu_ikoon.png", height="50px")
                                td.uudis-sisu
                                    h2 Astu Eesti Segakooride Liidu liikmeks!
                                    p
                                        | 1. ESL-i liikmena aitad kaasa Eesti koorikultuuri säilitamisele ja edendamisele.
                                        br
                                        | 2. ESLi liikmena saate jooksvalt infot koorimuusikamaastikul toimuvast; leiate toreda sõpruskoori või konkursi-festivali; olete nende seas, keda kutsutakse esindama oma maakonda.
                                        br
                                        | 3. ESL-i liikmed saavad soodsamalt osaleda kõikidel liidu korraldatavatel üritustel.
                                        br
                                        br
                                        span #[strong= "NB! ESL-i liikmeks astumise avalduse ja liikmemaksu lehe leiate dokumentide lehelt!"]