.container-fluid
    .row
        a(href='/')
            span Esileht   
        a(href='/juhatus/')
            span Juhatus   
        a(href='/pohikiri/')
            span Põhikiri   
        a(href='/kontakt/')
            span Kontakt   
        a(href='/dokumendid/')
            span Dokumendid   
        a(href='/ajalugu/')
            span Ajalugu   
        a(href='/tuljak/')
            span Tuljaku võistulaulmine   
        a(href='/viited/')
            span Viited   
        span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a(href='/tutvustus/')
            span Tutvustus   
        a(href='/liikmed/')
            span Liikmed   
        a(href='/')
            span Uudised   
        a(href='/fotod')
            span Fotod   
        span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a(href='/yritused')
            span Üritused