extends ../_templates/layout.pug

block peasisu

    each tuljak, id in self.data.tuljakud
        a(href= tuljak.path) #[strong= tuljak.id] &nbsp;&nbsp;&nbsp;

    h2 #[strong= self.viimane_tuljak.pealkiri]

    p #[u= self.viimane_tuljak.aeg_ja_asukoht]

        p !{ self.md(self.viimane_tuljak.sisu) }