doctype html
html(lang='en')
    include ../_templates/head.pug
        title= 'Eesti Segakooride Liit - Tuljaku võistulaulmine'
    body
        include ../_templates/navigation.pug

        h4 #[strong= self.title]

        p #{self.sisu}

        each tuljak, id in self.data.tuljakud
            p
                a(href= tuljak.path) #[strong= tuljak.id]

        include ../_templates/footer.pug